#!name=测试加解密耗时
#!desc=@key

event-interaction https://gist.githubusercontent.com/Keywos/22ef119f18e04ce31f3b7bbb827933c3/raw/NeteaseTest.js, tag=测试加解密耗时, img-url=location.fill.viewfinder.system, enabled=false
